@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}


.rosepink-bg {
  background-color: #e72e77;
}
@keyframes fadeHighlight {
  0% { background-color: #d1fae5; }
  100% { background-color: transparent; }
}

.animate-highlight {
  animation: fadeHighlight 0.8s ease-in-out;
}
